<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="icon" href="/styles/imgs/donut.png" type="image/png">  
</head>

<body>
  <% include partials/_nav.ejs %>
  <div class="container">
    <div class="site-branding">
      <h1 class="site-title title-image"><a href="/" rel="home"><img src="/styles/imgs/logo.png" ></a></h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 well well-sm login-container">
        <div class="form-group">
          <h2>Log in</h2>
          <%if(error){%>
            <h4 class="text-danger">
              <%= error %>
            </h4>
          <%}%>
          <form method="POST" action="/user/login" class="form-group">
            <p>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input required class="form-control" type="email" name="email" placeholder="Email">
              </div>
            </p>
            <p>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input required class="form-control" type="password" name="password" placeholder="Password">
              </div>
            </p>
            <button type="submit" class="main-button">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>